<!DOCTYPE html>
<html lang="zh-CN">
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><meta name="format-detection" content="telephone=no"><meta http-equiv="Cache-Control" content="max-age=86400000" /><meta http-equiv="Expires" content="Sat, Dec 31 2050 00:00:00 GMT" /><title><%=series.get("title")%></title><link rel="icon" href="/cms/diaodiao/assets/favicon.ico" type="image/x-icon" /><link rel="stylesheet" media="only screen and (min-device-width: 1280px)" type="text/css" href="/cms/diaodiao/assets/pc.css" /><link rel="stylesheet" media="only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 1280px)" type="text/css" href="/cms/diaodiao/assets/phone.css" /><script src="http://js.diaox2.com/cms/diaodiao/assets/jquery-2.1.0.min.js"></script><script src="http://js.diaox2.com/cms/diaodiao/assets/jquery.lazy.min.js"></script><script src="http://js.diaox2.com/cms/diaodiao/assets/jquery.cycle2.min.js"></script><script src="http://js.diaox2.com/cms/diaodiao/assets/jquery.cycle2.swipe.min.js"></script></head>
    <body id="1765231559067" class="411_411"><div class="total" data-thumb="http://c.diaox2.com/cms/sites/default/files/20141202/firstpage/fragrance188.jpg" data-self="http://c.diaox2.com/cms/diaodiao/articles/firstpage/411_411.html">

        <div class="heading">
            <h1><%=series.get("title")%></h1>
            <span class="headtime">2014-12-3</span><span class="headauthor">by&nbsp;小莫</span><div class="clearfix">&nbsp;</div></div>
        <hr><div class="content">

            <%for(var i =0; i < things.length; i++){%>
            <h2><strong><%=things[i].get("title")%></strong></h2>
            <p><img class="lazy" width=298 height=251 src="/cms/diaodiao/assets/pixel.gif" data-src="<%=things[i].get("image").url()%>" /></p>
            <p><%=things[i].get("title")%></p>
            <%}%>
        </div>
        <hr><div class="ending">欢迎分享你热爱的领域里的知识和好东西，请投稿至 daren@diaox2.com 或微信号 diaox2 。本篇不对味？欢迎<a class="tousu" id="hidden_self" data-src="1765231559067" href="javascript:complain()">吐槽</a>，让“调调”更符合你的调调。</div>
        <div class="clearfix last"></div>
        <script src="/cms/diaodiao/assets/ddios.js"></script>
        <script src="/cms/diaodiao/assets/wx.js"></script>
    </body></html>

